/*	
Author:kermit
Email:455196886@qq.com
Company:http://dragontrail.com/
Creattime:2016-11-16
*/

//引入样式重置
@import "reset.less";

//引入公共样式
@import "common.less";

//引入变量
@import "variable.less";

//引入动画类库
@import "animate.min.less";

//引入本项目私有样式
@import "private.less";

//引入头部样式
@import "header.less";

//引入菜单
@import "menu.less";

//引入页面样式
@import "page.less";

//引入svg地图样式
@import "svgmap.less";

//引入首页样式
@import "home.less";