/*	
Author:kermit
Email:455196886@qq.com
Company:http://dragontrail.com/
Creattime:2017-1-08
*/

//引入样式重置
@import "reset.less";

//引入公共样式
@import "common.less";

//引入变量
@import "variable.less";

//引入动画类库
@import "animate.min.less";

//引入本项目私有样式
@import "private.less";

