.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.after-clear::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-red {
  color: #e71e0f;
}
.single_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vertical-center {
  /* Center vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.img-box {
  line-height: 0;
  font-size: 0;
}
.animation from {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.animation to {
  width: 300px;
  height: 300px;
  background-color: red;
}
@keyframes animation {
  from {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  to {
    width: 300px;
    height: 300px;
    background-color: red;
  }
}
@-moz-keyframes animation {
  from {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  to {
    width: 300px;
    height: 300px;
    background-color: red;
  }
}
@-webkit-keyframes animation {
  from {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  to {
    width: 300px;
    height: 300px;
    background-color: red;
  }
}
@-o-keyframes animation {
  from {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  to {
    width: 300px;
    height: 300px;
    background-color: red;
  }
}
.animation_demo {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation: animation 2s ease-in-out 1 normal forwards;
  -ms-animation: animation 2s ease-in-out 1 normal forwards;
  -moz-animation: animation 2s ease-in-out 1 normal forwards;
  -webkit-animation: animation 2s ease-in-out 1 normal forwards;
  -o-animation: animation 2s ease-in-out 1 normal forwards;
}
.transition_demo {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all 2s ease 0s;
  -ms-transition: all 2s ease 0s;
  -moz-transition: all 2s ease 0s;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
}
.transition_demo:hover {
  width: 300px;
  height: 300px;
  background-color: red;
}
.animation-rotate from {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -moz-transform: rotate(0deg);
  /* Firefox */
  -webkit-transform: rotate(0deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(0deg);
  /* Opera */
}
.animation-rotate to {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -moz-transform: rotate(360deg);
  /* Firefox */
  -webkit-transform: rotate(360deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(360deg);
  /* Opera */
}
@keyframes animation-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
    /* Opera */
  }
}
@-moz-keyframes animation-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
    /* Opera */
  }
}
@-webkit-keyframes animation-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
    /* Opera */
  }
}
@-o-keyframes animation-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(360deg);
    /* Opera */
  }
}
.animation-rotate-un from {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -moz-transform: rotate(0deg);
  /* Firefox */
  -webkit-transform: rotate(0deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(0deg);
  /* Opera */
}
.animation-rotate-un to {
  transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  /* IE 9 */
  -moz-transform: rotate(-360deg);
  /* Firefox */
  -webkit-transform: rotate(-360deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-360deg);
  /* Opera */
}
@keyframes animation-rotate-un {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    -moz-transform: rotate(-360deg);
    /* Firefox */
    -webkit-transform: rotate(-360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg);
    /* Opera */
  }
}
@-moz-keyframes animation-rotate-un {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    -moz-transform: rotate(-360deg);
    /* Firefox */
    -webkit-transform: rotate(-360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg);
    /* Opera */
  }
}
@-webkit-keyframes animation-rotate-un {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    -moz-transform: rotate(-360deg);
    /* Firefox */
    -webkit-transform: rotate(-360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg);
    /* Opera */
  }
}
@-o-keyframes animation-rotate-un {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
  }
  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    -moz-transform: rotate(-360deg);
    /* Firefox */
    -webkit-transform: rotate(-360deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg);
    /* Opera */
  }
}
@font-face {
  font-family: 'webfont';
  src: url('../lib/fonts/webfont.eot');
  /* IE9*/
  src: url('../lib/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../lib/fonts/webfont.woff') format('woff'), /* chrome、firefox */ url('../lib/fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../lib/fonts/webfont.svg#webfont') format('svg');
  /* iOS 4.1- */
}
.web-font {
  font-family: "webfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.full-box {
  width: 100%;
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font: normal 14px/1.5;
  color: #000;
}
img {
  max-width: 100%;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
a.red-link {
  color: #e71e0f;
}
a.red-link:hover {
  color: #c1190d;
}
button {
  cursor: pointer;
  padding: 0.5em 1em;
  border: 0;
  background-color: #fff;
  color: #333;
  font: normal 14px/1;
  transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
button:hover {
  background-color: #d6d6d6;
  color: #0a0a0a;
}
button.btn.btn-red {
  background-color: #e71e0f;
  color: #ebebeb;
}
button.btn.btn-red:hover {
  background-color: #c1190d;
  color: #fff;
}
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../imgs/icon_title.png) center center no-repeat;
  background-size: 100% 100%;
}
.icon.icon-title {
  background: url(../imgs/icon_title.png) center center no-repeat;
  background-size: 100% 100%;
}
.icon.icon-title-black {
  width: 36px;
  height: 39px;
  background: url(../imgs/icon_title_black.png) center center no-repeat;
  background-size: 100% 100%;
}
.icon.icon-youku {
  width: 33px;
  height: 20px;
  background: url(../imgs/icon_youku.png) 0 0 no-repeat;
}
.icon.icon-clock-o {
  width: 33px;
  height: 33px;
  background: url(../imgs/icon_clock.png) 0 0 no-repeat;
}
.loading {
  color: #fff;
}
.loading .fa {
  font-size: 40px;
  -ms-transform-origin: center center;
  /* IE 9 */
  -moz-transform-origin: center center;
  /* Firefox */
  -webkit-transform-origin: center center;
  /* Safari 和 Chrome */
  -o-transform-origin: center center;
  /* Opera */
  animation: animation-rotate 2s linear infinite normal forwards;
  -ms-animation: animation-rotate 2s linear infinite normal forwards;
  -moz-animation: animation-rotate 2s linear infinite normal forwards;
  -webkit-animation: animation-rotate 2s linear infinite normal forwards;
  -o-animation: animation-rotate 2s linear infinite normal forwards;
}
.crumbs {
  font: normal 16px/1.5;
  margin-bottom: 0.5em;
  color: #fff;
}
.crumbs a {
  color: #fff;
}
.crumbs a:hover {
  color: #e71e0f;
}
.crumbs .line {
  font-style: normal;
  padding: 0 0.3em;
}
.mobile-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 1em;
  background: #fff url(../imgs/search_bg.jpg) left center no-repeat;
  background-size: cover;
}
.mobile-search.mobile-search-hide {
  display: none;
}
.mobile-search .search-header {
  padding: 1em 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-right: 40px;
  position: relative;
}
.mobile-search .search-header .input-box {
  width: 100%;
  position: relative;
}
.mobile-search .search-header .input-box input {
  width: 100%;
  padding: 5px 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  border-radius: 40px;
  border: 2px solid #000;
  font: normal 14px/1.2;
}
.mobile-search .search-header .input-box input:focus {
  border-color: #e71e0f;
  outline: none;
}
.mobile-search .search-header .input-box input::-moz-placeholder {
  color: #999999;
}
.mobile-search .search-header .input-box input:-ms-input-placeholder {
  color: #999999;
}
.mobile-search .search-header .input-box input::-webkit-input-placeholder {
  color: #999999;
}
.mobile-search .search-header .input-box .search-btn {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 0.5em;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 1;
}
.mobile-search .search-header .input-box .search-btn:hover {
  color: #e71e0f;
}
.mobile-search .search-header .close-btn {
  display: block;
  border: 2px solid #c0c0c0;
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
  line-height: 18px;
  background-color: transparent;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  top: 1em;
  right: 0;
}
.mobile-search .search-header .close-btn .fa {
  font-size: 14px;
}
.mobile-search .search-header .close-btn:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.mobile-search .search-focus {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-bottom: 4em;
}
.mobile-search .search-focus a {
  float: left;
  display: inline-block;
  color: #000;
  padding: 0.2em 0.6em;
  background-color: #e8e8e8;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.mobile-search .search-focus a:hover {
  background-color: #e71e0f;
  color: #fff;
  text-decoration: none;
}
.mobile-search .search-focus .search-item-title {
  color: #666;
  margin-bottom: 0.5em;
}
.mobile-search .search-focus .search-item {
  margin-bottom: 0.5em;
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e71e0f;
  transform: scale3d(1.5, 1.5, 1.5);
  -ms-transform: scale3d(1.5, 1.5, 1.5);
  /* IE 9 */
  -moz-transform: scale3d(1.5, 1.5, 1.5);
  /* Firefox */
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  /* Safari 和 Chrome */
  -o-transform: scale3d(1.5, 1.5, 1.5);
  /* Opera */
}
.swiper-prev,
.swiper-next {
  cursor: pointer;
  font: normal 40px/1;
  color: #e6e6e6;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 10;
}
.swiper-prev:hover,
.swiper-next:hover {
  color: #e71e0f;
}
.swiper-prev.swiper-button-disabled,
.swiper-next.swiper-button-disabled {
  opacity: 0.1;
}
.swiper-prev.swiper-button-disabled:hover,
.swiper-next.swiper-button-disabled:hover {
  color: #fff;
}
.swiper-prev {
  left: 40px;
}
.swiper-next {
  right: 40px;
}
/* 中等屏幕（桌面显示器，大于等于 1136px 小于1336px） */
/* 中等屏幕（桌面显示器，大于等于 992px 小于1024px） */
/* 小屏幕（平板，大于等于 768px） */
/* 小屏幕（手机，小于 768px）*/
@media (max-width: 768px) {
  .loading .fa {
    font-size: 30px;
  }
  .swiper-prev {
    left: 10px;
  }
  .swiper-next {
    right: 10px;
  }
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: url(../imgs/menu_mask.png) right bottom no-repeat;
  background-size: cover;
  color: #000;
  display: table;
}
.menu.menu-hide {
  display: none;
}
.menu .menu-inner {
  display: table-cell;
  vertical-align: middle;
}
.menu .menu-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
.menu a {
  color: #000;
}
.menu a:hover {
  color: #e71e0f;
}
.menu .menu-left {
  width: 186px;
  padding-left: 100px;
  padding-right: 50px;
  border-right: 1px solid #e5e5e5;
}
.menu .nav {
  margin-bottom: 130px;
}
.menu .nav li {
  font-size: 26px;
  margin-bottom: 0.3em;
  font-style: italic;
}
.menu .nav li a .icon-title-black {
  opacity: 0;
  transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.menu .nav li a:hover,
.menu .nav li a.cur {
  color: #e71e0f;
}
.menu .nav li a.cur .icon-title-black {
  opacity: 1;
}
.menu .en-link {
  display: inline-block;
  padding: 0.3em 1em;
  color: #fff;
  background-color: #000;
  font: normal 12px/1.5 'Microsoft YaHei';
  margin-top: 0.3em;
}
.menu .en-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e71e0f;
}
.menu .search-box {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
.menu .search-box .search {
  width: 100%;
  position: relative;
}
.menu .search-box .search input {
  width: 100%;
  padding: 5px 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  border: 1px solid #000;
  font: normal 14px/1.2 'Microsoft YaHei';
}
.menu .search-box .search input:focus {
  border-color: #e71e0f;
  outline: none;
}
.menu .search-box .search input::-moz-placeholder {
  color: #999999;
}
.menu .search-box .search input:-ms-input-placeholder {
  color: #999999;
}
.menu .search-box .search input::-webkit-input-placeholder {
  color: #999999;
}
.menu .search-box .search .search-btn {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 0.5em;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 1;
}
.menu .search-box .search .search-btn:hover {
  color: #e71e0f;
}
.menu .search-box .search-focus-box {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 0;
  width: 470px;
  max-height: 8em;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #000;
  font: normal 14px/1.5 'Microsoft YaHei';
}
.menu .search-box .search-focus-box .search-focus-inner {
  position: relative;
  padding: 10px 20px 10px 8px;
}
.menu .search-box .search-focus-box .search-focus-inner .close-btn {
  border: 0;
  background-color: transparent;
  padding: 0.5em;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  color: #333;
}
.menu .search-box .search-focus-box .search-focus-inner .close-btn:hover {
  color: #000;
}
.menu .search-box .search-focus-box .search-item {
  overflow: hidden;
  margin-bottom: 0.5em;
  padding-left: 6em;
  position: relative;
}
.menu .search-box .search-focus-box .search-item .search-item-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
}
.menu .search-box .search-focus-box .search-item .search-item-content {
  width: 100%;
  word-break: break-word;
  overflow: hidden;
}
.menu .search-box .search-focus-box .search-item a {
  display: block;
  float: left;
  color: #000;
  margin-right: 1em;
}
.menu .search-box .search-focus-box .search-item a:hover {
  color: #e71e0f;
}
.menu .menu-right {
  width: 608px;
  padding-left: 50px;
}
.menu .menu-right .section-title {
  color: #999;
  font: normal 16px/1.5 'Microsoft YaHei';
  margin-bottom: 0.3em;
}
.menu .menu-right a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.menu .menu-right a:hover {
  text-decoration: none;
}
.menu .menu-right a span {
  display: block;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu-right a .en-desc {
  font-family: 'arial';
  font-size: 12px;
  color: #999;
  margin-bottom: 0.5em;
}
.menu .menu-right .section {
  margin-bottom: 0.5em;
}
.menu .menu-right .section-list::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.menu .menu-right .section-list li {
  float: left;
}
.menu .menu-right .section-hot {
  max-width: 160px;
}
.menu .menu-right .section-hot li {
  width: 40%;
  margin-right: 5%;
}
.menu .menu-right .section-city {
  max-width: 360px;
}
.menu .menu-right .section-city li {
  width: 20%;
  padding-right: 2%;
}
.menu .menu-right .section-city li:nth-child(3n+3) {
  width: 44%;
  padding-right: 2%;
}
.menu .menu-right .section-town {
  max-width: 520px;
}
.menu .menu-right .section-town li {
  width: 28%;
  margin-right: 2%;
}
.menu .menu-right .section-area {
  max-width: 520px;
}
.menu .menu-right .section-area li {
  width: 23%;
  margin-right: 2%;
}
.menu .footer {
  padding-left: 100px;
  position: absolute;
  bottom: 2em;
}
.menu .footer .footer-links {
  font: normal 14px/1 'Microsoft YaHei';
  margin-bottom: 0.3em;
}
.menu .footer .footer-links span {
  margin: 0 0.5em;
  color: #999;
}
.menu .footer .footer-links a {
  color: #666666;
}
.menu .footer .footer-links a:hover {
  color: #333;
}
.menu .footer p.copyright {
  color: #999;
}
/* 中等屏幕（桌面显示器，小于1336px） */
@media screen and (max-width: 1336px) {
  .menu {
    background: url(../imgs/menu_mask1336.png) bottom right no-repeat;
    background-size: cover;
  }
}
/* 中等屏幕（桌面显示器，小于1024px） */
@media screen and (max-width: 1024px) {
  .menu {
    background: url(../imgs/menu_mask1024.png) bottom right no-repeat;
    background-size: cover;
  }
  .menu .menu-left {
    padding-left: 30px;
    padding-right: 30px;
  }
  .menu .menu-right {
    padding-left: 30px;
  }
  .menu .menu-right .section-city {
    max-width: 300px;
  }
  .menu .menu-right .section-town {
    max-width: 460px;
  }
  .menu .menu-right .section-area {
    max-width: 460px;
  }
  .menu .footer {
    padding-left: 30px;
  }
}
/* 中等屏幕（小于 992px）*/
@media (max-width: 992px) {
  .menu {
    background: url(../imgs/menu_mask750.jpg) bottom right no-repeat;
    background-size: cover;
  }
  .menu .menu-left {
    float: none;
    width: 100%;
    text-align: center;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8em;
    margin-bottom: 0;
    margin-left: -20px;
  }
  .menu .nav {
    margin-bottom: 0;
  }
  .menu .menu-right {
    float: none;
    display: none;
  }
  .menu .search-box {
    display: none;
  }
  .menu .menu-footer {
    display: none;
  }
  .menu .footer {
    width: 100%;
    bottom: 2em;
    padding-left: 0;
    font-size: 12px;
    text-align: center;
  }
  .menu .footer .footer-links span {
    display: none;
  }
  .menu .footer .footer-links a {
    display: block;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
}
/* 小屏幕（手机，小于 768px）*/
