//引入公共样式
@import "common.less";

//引入变量
@import "variable.less";

//满盒子
.full-box{
	width:100%;
	height:100%;
}

//项目私有样式
html,body{.full-box;}
body{
	.font(normal,14px,1.5,'Microsoft YaHei');
	color:@color-black;
}
img{max-width:100%;}
a{
	color:@color-white;
	&:hover{
		text-decoration:underline;
	}
	&.red-link{
		color:@color-red;
		&:hover{
			color:darken(@color-red,8%);
		}
	}
}

button{
	cursor:pointer;
	padding:0.5em 1em;
	border:0;
	background-color:@color-white;
	color:#333;
	font:normal 14px/1 'Microsoft YaHei';
	.transition(all,0.5s,ease,0s);
	&:hover{
		background-color:darken(@color-white, 16%);
		color:darken(#333, 16%);
	}
	&.btn{
		&.btn-red{
			background-color:@color-red;
			color:darken(@color-white,8%);
			&:hover{
				background-color:darken(@color-red, 8%);
				color:@color-white;
			}
		}
	}
}

/* 中等屏幕（桌面显示器，小于1336px） */
@media screen and (max-width:1336px){

}

/* 中等屏幕（桌面显示器, 小于1024px） */
@media screen and (max-width:1024px){

}

/* 小屏幕（平板, 大于等于 992px) */
@media screen and (max-width:992px){

}

/* 小屏幕（手机，小于 768px）*/
@media(max-width: 768px){

}
